.env*
.idea
node_modules
assets
build
config.js
**/volumes
newrelic_agent.log
.idea
!**/locales/en/translation.json
*.key
coverage

# yarn v2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
