services:
  twitch-chat-listener:
      restart: on-failure
      restart-max-attempts: 5
      build:
        context: twitch-chat-listener
        target: prod
        dockerfile: ../web/Dockerfile # Reusing same nodejs dockerfile
      hostname: twitch-chat-listener
      ports:
        - '5005:5005'
      env_file: .env
      environment:
        - NEW_RELIC_APP_NAME="twitch chat listener"
  twitch-eventsub-listener:
      restart: on-failure
      restart-max-attempts: 5
      build:
        context: twitch-eventsub-listener
        target: prod
        dockerfile: ../web/Dockerfile # Reusing same nodejs dockerfile
      hostname: twitch-eventsub-listener
      ports:
        - '82:5010'
      env_file: .env
      environment:
        - NEW_RELIC_APP_NAME="twitch eventsub listener"
        - PORT=5010
  web:
    restart: on-failure
    restart-max-attempts: 5
    build:
      context: web
      target: prod
    volumes:
      - steam_auth:/app/src/steam/volumes
    hostname: web
    ports:
      - '81:5000'
      - '9229:9229'
    env_file: .env
  nginx:
    restart: on-failure
    restart-max-attempts: 5
    volumes:
    - ./nginx/default.conf:/etc/nginx/templates/default.conf.template
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    env_file: .env

# Volumes are useful for data persistence, so the data will not be deleted
# even later you call command docker-compose down.
volumes:
  steam_auth: