services:
  web:
    build:
      context: web
      target: prod
    volumes:
      - steam_auth:/app/src/steam/volumes
    hostname: web
    ports:
      - '81:5000'
      - '9229:9229'
    env_file: .env.prod
  nginx:
    volumes:
    - ./nginx/default.conf:/etc/nginx/templates/default.conf.template
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    env_file: .env.prod

# Volumes are useful for data persistence, so the data will not be deleted
# even later you call command docker-compose down.
volumes:
  steam_auth: