services:
  redis:
    image: 'redis/redis-stack-server:latest'
    ports:
      - '6379:6379'
    mem_limit: 128M
  web:
    build:
      context: web
      target: prod
    volumes:
      - steam_auth:/app/src/steam/volumes
    hostname: web
    ports:
      - '81:5000'
      - '9229:9229'
    env_file: .env
    deploy:
        resources:
            limits:
              cpus: "1"
              memory: 1024M
  nginx:
    volumes:
    - ./nginx/default.conf:/etc/nginx/templates/default.conf.template
    build: ./nginx
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - web
    mem_limit: 128M
    env_file: .env

# Volumes are useful for data persistence, so the data will not be deleted
# even later you call command docker-compose down.
volumes:
  steam_auth: