services:
  twitch-chat:
    volumes:
      - ./packages/twitch/chat/src:/app/packages/twitch/chat/src

  twitch-events:
    volumes:
      - ./packages/twitch/events/src:/app/packages/twitch/events/src

  dota:
    volumes:
      - ./packages/dota/src:/app/packages/dota/src
  nginx:
    profiles:
      - donotstart
