services:
  redis:
    container_name: redis
    image: "redis/redis-stack-server:latest"
    restart: on-failure

  twitch-chat:
    image: "ghcr.io/dotabod/twitch-chat:v2.1"
    platform: linux/amd64
    container_name: twitch-chat
    restart: on-failure
    build:
      context: .
      dockerfile: $PWD/packages/Dockerfile.chat
      args:
        - NODE_ENV=${NODE_ENV:-development}
        - BUILD_CONTEXT=packages/twitch/chat
    hostname: twitch-chat
    environment:
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NODE_ENV
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    volumes:
      - $PWD/packages/twitch/chat/locales:/app/packages/twitch/chat/locales

  steam:
    image: "ghcr.io/dotabod/steam:v2.1"
    platform: linux/amd64
    container_name: steam
    restart: on-failure
    build:
      context: .
      dockerfile: $PWD/packages/Dockerfile.steam
      args:
        - NODE_ENV=${NODE_ENV:-development}
        - BUILD_CONTEXT=packages/steam
    hostname: steam
    environment:
      - MONGO_URL
      - STEAM_PASS
      - STEAM_USER
      - STEAM_WEB_API
      - NODE_ENV

  twitch-events:
    image: "ghcr.io/dotabod/twitch-events:v2.1"
    platform: linux/amd64
    container_name: twitch-events
    restart: on-failure
    build:
      context: .
      dockerfile: $PWD/packages/Dockerfile.events
      args:
        - NODE_ENV=${NODE_ENV:-development}
        - BUILD_CONTEXT=packages/twitch/events
    hostname: twitch-events
    environment:
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - EVENTSUB_HOST
      - HOOKS_HOST
      - MONGO_URL
      - NODE_ENV
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
      - TWITCH_EVENTSUB_SECRET

  dota:
    image: "ghcr.io/dotabod/dota:v2.1"
    platform: linux/amd64
    container_name: dota
    restart: on-failure
    build:
      context: .
      dockerfile: $PWD/packages/Dockerfile.dota
      args:
        - NODE_ENV=${NODE_ENV:-development}
        - BUILD_CONTEXT=packages/dota
    hostname: dota
    #ports:
    #- "9229:9229" # just in case we want to enable node inspecting
    environment:
      - D2PT_TOKEN
      - ADMIN_CHANNELS
      - COMMIT_HASH
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NEW_RELIC_NO_CONFIG_FILE
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_APP_NAME
      - NEW_RELIC_ENABLED
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_LOG=stdout
      - NEW_RELIC_LICENSE_KEY
      - NODE_ENV
      - STEAM_WEB_API
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    volumes:
      # Storing locales in a volume so that they can be edited without rebuilding the image
      - $PWD/packages/dota/locales:/app/packages/dota/locales
      - steam_auth:/app/packages/dota/src/steam/volumes

  nginx:
    container_name: nginx
    restart: on-failure
    platform: linux/amd64
    volumes:
      - $PWD/services/nginx/default.conf:/etc/nginx/templates/default.conf.template
    build:
      context: $PWD/services/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      - NGINX_HOST
      - EVENTSUB_HOST
      - HOOKS_HOST
      - TLS_CERT
      - TLS_KEY

# Volumes are useful for data persistence, so the data will not be deleted
# even later you call command docker-compose down.
volumes:
  mongodb_data:
  steam_auth:
networks:
  default:
    name: dotabod
