services:
  redis:
    container_name: redis
    image: "redis/redis-stack-server:latest"
    restart: on-failure:5

  twitch-chat:
    container_name: twitch-chat
    image: "ghcr.io/dotabod/twitch-chat:v2.1"
    restart: on-failure:5
    build:
      context: .
      dockerfile: ./packages/Dockerfile.chat
      args:
        - NODE_ENV=${NODE_ENV:-development}
    hostname: twitch-chat
    environment:
      - NEW_RELIC_NO_CONFIG_FILE
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_APP_NAME=twitch-chat
      - NEW_RELIC_ENABLED
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_LOG=stdout
      - NEW_RELIC_LICENSE_KEY
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NODE_ENV
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET

  steam:
    container_name: steam
    image: "ghcr.io/dotabod/steam:v2.1"
    restart: on-failure:5
    build:
      context: .
      dockerfile: ./packages/Dockerfile.steam
      args:
        - NODE_ENV=${NODE_ENV:-development}
    hostname: steam
    environment:
      - NEW_RELIC_NO_CONFIG_FILE
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_APP_NAME=steam
      - NEW_RELIC_ENABLED
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_LOG=stdout
      - NEW_RELIC_LICENSE_KEY
      - MONGO_URL
      - STEAM_PASS
      - STEAM_USER
      - STEAM_WEB_API
      - NODE_ENV

  twitch-events:
    container_name: twitch-events
    image: "ghcr.io/dotabod/twitch-events:v2.1"
    restart: on-failure:5
    build:
      context: .
      dockerfile: ./packages/Dockerfile.events
      args:
        - NODE_ENV=${NODE_ENV:-development}
    hostname: twitch-events
    environment:
      - NEW_RELIC_NO_CONFIG_FILE
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_APP_NAME=twitch-events
      - NEW_RELIC_ENABLED
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_LOG=stdout
      - NEW_RELIC_LICENSE_KEY
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - EVENTSUB_HOST
      - HOOKS_HOST
      - MONGO_URL
      - NODE_ENV
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
      - TWITCH_EVENTSUB_SECRET

  dota:
    container_name: dota
    image: "ghcr.io/dotabod/dota:v2.1"
    restart: on-failure:5
    build:
      context: .
      dockerfile: ./packages/Dockerfile.dota
      args:
        - NODE_ENV=${NODE_ENV:-development}

    hostname: dota
    environment:
      - D2PT_TOKEN
      - ADMIN_CHANNELS
      - COMMIT_HASH
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NEW_RELIC_NO_CONFIG_FILE
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_APP_NAME
      - NEW_RELIC_ENABLED
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_LOG=stdout
      - NEW_RELIC_LICENSE_KEY
      - NODE_ENV
      - STEAM_WEB_API
      - STRATZ_TOKEN
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    volumes:
      - steam_auth:/app/packages/dota/src/steam/volumes

volumes:
  steam_auth:
networks:
  default:
    name: dotabod
