services:
  redis:
    container_name: redis
    image: 'redis/redis-stack-server:latest'
    ports:
      - '6379:6379'

  twitch-chat:
    image: twitch-chat:${COMMIT_HASH:-latest}
    container_name: twitch-chat
    restart: on-failure
    build:
      context: .
      target: prod
      dockerfile: ./packages/Dockerfile # Reusing same nodejs dockerfile
      args:
        - BUILD_CONTEXT=packages/twitch/chat
    hostname: twitch-chat
    ports:
      - '5005:5005'
    environment:
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NEW_RELIC_APP_NAME="twitch chat listener"
      - NEW_RELIC_FEATURE_FLAG_ASYNC_LOCAL_CONTEXT
      - NODE_ENV
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    volumes:
      - ./packages/twitch/chat/locales:/app/packages/twitch/chat/locales

  twitch-events:
    image: twitch-events:${COMMIT_HASH:-latest}
    container_name: twitch-events
    restart: on-failure
    build:
      context: .
      target: prod
      dockerfile: ./packages/Dockerfile # Reusing same nodejs dockerfile
      args:
        - BUILD_CONTEXT=packages/twitch/events
    hostname: twitch-events
    ports:
      - '82:5010'
      - '5015:5015'
    environment:
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - EVENTSUB_HOST
      - MONGO_URL
      - NEW_RELIC_APP_NAME="twitch eventsub listener"
      - NEW_RELIC_FEATURE_FLAG_ASYNC_LOCAL_CONTEXT
      - NODE_ENV
      - NR_NATIVE_METRICS_NO_BUILD
      - PORT=5010
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
      - TWITCH_EVENTSUB_SECRET

  dota:
    image: dota:${COMMIT_HASH:-latest}
    container_name: dota
    restart: on-failure
    build:
      context: .
      target: prod
      dockerfile: ./packages/Dockerfile # Reusing same nodejs dockerfile
      args:
        - BUILD_CONTEXT=packages/dota
    hostname: dota
    ports:
      - '81:5000'
      - '9229:9229'
    environment:
      - ADMIN_CHANNELS
      - COMMIT_HASH
      - DATABASE_URL
      - DB_SECRET
      - DB_URL
      - DEV_CHANNELS
      - DEV_CHANNELIDS
      - MONGO_URL
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED
      - NEW_RELIC_APP_NAME="dotabod dota"
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED
      - NEW_RELIC_ENABLED
      - NEW_RELIC_FEATURE_FLAG_ASYNC_LOCAL_CONTEXT
      - NEW_RELIC_LICENSE_KEY
      - NEW_RELIC_LOG
      - NEW_RELIC_LOG_ENABLED
      - NEW_RELIC_NO_CONFIG_FILE
      - NODE_ENV
      - STEAM_PASS
      - STEAM_USER
      - STEAM_WEB_API
      - TWITCH_BOT_PROVIDERID
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    volumes:
      # Storing locales in a volume so that they can be edited without rebuilding the image
      - ./packages/dota/locales:/app/packages/dota/locales
      - steam_auth:/app/src/steam/volumes

  nginx:
    container_name: nginx
    restart: on-failure
    image: nginx
    volumes:
    - ./services/nginx/default.conf:/etc/nginx/templates/default.conf.template
    build: ./services/nginx
    ports:
      - '80:80'
      - '443:443'
    environment:
      - NGINX_HOST
      - EVENTSUB_HOST
      - TLS_CERT
      - TLS_KEY

  mongodb:
    container_name: mongodb
    image: "mongo"
    ports:
      - "27017:27017"
    volumes:
      - "mongodb_data:/data/db"
      - ./services/mongodb/init.sh:/docker-entrypoint-initdb.d/init_mongo.js

# Volumes are useful for data persistence, so the data will not be deleted
# even later you call command docker-compose down.
volumes:
  mongodb_data:
  steam_auth:
